.blog-list-page {
  .blog-date {
    font-size: 14px;
    font-weight: 700;
    margin-top: 45px;

    &:first-child {
      margin-top: 0px;
    }

    @media screen and (max-width: 750px) {
      margin-top: 30px;

      .blog-date:first-child {
        margin-top: 0px;
      }
    }
  }

  .blog-list-info {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
  }
}
