{
    "presets": [
        ["next/babel"]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "transform-class-properties",
        [
			"module-resolver",
			{
				"root": [
					"."
				],
				"alias": {
					"tools": "./util/tools",
					"util": "./util",
					"components": "./components",
					"widgets": "./components/widgets"
				}
			}
		]
    ]
}