{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "components": "./components",
          "utils": "./utils",
          "config": "./config",
          "mock": "./mock",
          "pages": "./pages",
          "store": "./store"
        }
      }
    ]
  ]
}