#do-drawer-root {
  position: fixed;
  top: 0;
  z-index: 50;
}

.do-drawer {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 50;
  color: #fff;

  &-container {
    padding: 25px;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 340px;
    right: 0;
    transition: all ease 0.6s;
    box-sizing: border-box;

    .do-drawer-inner-toggle {
      display: none;
    }

    @media screen and (max-width: 720px) {
      display: none;
    }

    .svg-icon-wrapper {
      position: absolute;
      left: -60px;
    }
  }

  &.close {
    .do-drawer-mask {
      display: none;
    }
    .do-drawer-container {
      right: -340px;
    }
  }
}
