.svg-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  path {
    transition: all ease 0.3s;
    stroke: #666;
    stroke-linecap: round;
    fill: none;
    stroke-width: 3px;
  }
  &-antd {
    path {
      fill: #666;
    }
  }
  &-random {
    padding: 4px 0 0 2px;
    path {
      transform: scale(0.82);
    }
  }
}

.svg-icon-wrapper {
  display: inline-block;
  line-height: 0;
  &.active {
    .svg-icon-antd {
      path {
        fill: $primary-color;
      }
    }
    .svg-icon {
      path {
        stroke: $primary-color;
      }
    }
  }
}

.icon-demos {
  .svg-icon {
    margin: 10px;
    background-color: #ccc;
  }
}
