.do-to-top {
  position: fixed;
  background-color: $primary-color;
  color: #fff;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  @include shadow;
  bottom: -60px;
  transition: bottom ease 0.3s;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  
  &.show {
    bottom: 50px;
  }

  .svg-icon {
    position: relative;
    top: -2px;
    path {
      stroke: #fff;
    }
  }

  @media screen and (max-width: 720px) {
    right: 15px;
    padding: 4px 6px;
    &.show {
      bottom: 15px;
    }
  }
}
