.robot-page {
  position: relative;
  height: 100%;

  .robot-panel {
    @media screen and (min-width: 750px) {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 375px;
      height: 700px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      background-color: #f93;
      overflow: hidden;
      max-height: calc(100% - 60px);
    }
    
    @media screen and (max-width: 750px) {
      height: 100%;
      width: 100%;
      background-color: #f93;
    }
  }
}
