.blogs-list {
  margin: 24px auto;
  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
  .do-fetching-loading {
    text-align: left;
  }
}

.blogs-group {
  padding: 16px 0px;
  .blogs-group-date {
    margin-bottom: 8px;
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    padding: 12px 0;
    p {
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
  a {
    &:acitve {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.blog-title {
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.2em;
  color: $primary-color;
  
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
  }
}

.blog-create-date {
  color: #666;
  display: inline-block;
  font-weight: bold;
}

.blog-detail {
  max-width: $small-container-width;
  margin: 0px auto;
  .blog-title {
    margin-top: 40px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      margin: 0 0 20px 0;
    }
  }
  .blog-author {
    color: #666;
  }
  .blog-meta {
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .blog-date {
    margin-right: 10px;
    font-weight: 700;
  }
  .blog-tags {
    display: flex;
    align-items: center;
  }
  .blog-content {
    font-size: 14px;
    color: #4a4a4a;

    @include blog-reset;
  }
  .blog-comment-input {
    margin-top: 100px;
    margin-bottom: 40px;
    h2 {
      font-weight: 100;
      margin-bottom: 30px;
      font-size: 34px;
    }
    button {
      margin-top: 15px;
    }
  }
}

.blog-wrapper {
  padding-bottom: 60px;
}

.blogs-drawer-tags {
  margin-bottom: 30px;
  color: #fff;
}

.blogs-drawer-title {
  margin-bottom: 15px;
}

.blog-table {
  padding-left: 20px;
  min-width: 300px;
  margin-top: 10px;
  @media screen and (max-width: 720px) {
    display: none;
  }

  h4 {
    margin-bottom: 1em;
    font-size: 1.4em;
    margin-top: 0;
    line-height: 1;
    color: #666;
    position: relative;
    left: -1px;
    font-weight: bold;
  }

  .blog-table-item {
    a {
      display: block;
      color: #4a4a4a;

      &:hover {
        text-decoration: underline;
      }

      &.blog-table-item-h2 {
        font-size: 1.2em;
        margin-top: 0.6em;
      }

      &.blog-table-item-h3 {
        font-size: 1.1em;
        margin-top: 0.6em;
      }

      &.blog-table-item-h4 {
        font-size: 1.0em;
        margin-top: 0.4em;
        margin-left: 1em;
        color: #666;
      }
    }
  }
}

.do-fetching-loading.editor-loading {
  text-align: left;
  margin-bottom: 20px;
}

.do-drawer .do-drawer-container {
  background-color: $main-bg-color;
}
