.do-dialog {
  .contact-input-nickname {
    .ze-input-container {
      width: 400px;
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
    }
  }
}

.editor-wrapper .DraftEditor-root {
 @include blog-reset;
}

.comment-group {
  .ze-btn {
    width: 150px;
  }
}
.contact-page {
  border-top: 1px solid #ccc;

  .ze-tabs {
    display: flex;
    justify-content: center;

    .ze-tab {
      padding: 12px 32px 13px;
    }
  }
  // .comment-form {
  //   position: fixed;
  //   bottom: 0;
  //   z-index: 10;
  //   background-color: #fff;
  //   width: 100%;
  //   right: 0;

  //   &-wrapper {
  //     width: 720px;
  //     margin: 0 auto;
  //   }
  // }

  .comment-group {
    margin-top: 40px;
  }
}