.contact-form {
  textarea.ze-input {
    min-height: 200px;
  }
  .ze-input-area {
    margin-bottom: 10px;
  }

  h2 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.contact-message-list {
  margin-top: 60px;
  color: #666;
}

.do-dialog {
  .contact-input-nickname {
    .ze-input-container {
      width: 400px;
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        width: 300px;
      }
    }
  }
}

.editor-wrapper .DraftEditor-root {
 @include blog-reset;
}