.home-page {
  height: 100vh;
  .home-container {
    max-width: 750px;
    padding: 100px 15px;
    margin: 0 auto;
    @media screen and (max-width: 720px) {
      margin: 30px auto;
    }

    @media screen and (max-width: 720px) {
      padding-top: 20px;
    }
    .home-links {
      margin-top: 40px;
      margin-bottom: 80px;
      font-size: 1em;
      @media screen and (max-width: 720px) {
        margin: 15px auto;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      .home-link {
        padding-right: 20px;
        span {
          color: #4a4a4a;
        }
        .home-link-split {
          color: $blue;
          margin: 0 5px;
        }
      }
    }

    .home-desc {
      h2 {
        color: #222;
        font-size: 4em;
        font-weight: 300;
        img {
          height: 45px;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
        @media screen and (max-width: 720px) {
          margin-bottom: 10px;
          font-size: 3.2em;
        }
      }
      h4 {
        color: #222;
        font-size: 2em;
        @media screen and (max-width: 720px) {
          font-size: 1.7em;
        }
      }
      p {
        font-size: 1.2em;
        margin-bottom: 1em;
        line-height: 1.8em;
        font-weight: 400;
        @media screen and (max-width: 720px) {
          font-size: 1.1em;
        }
      }

      h2,
      h4,
      p {
        a,
        em {
          color: #4a4a4a;
          position: relative;
          margin: 0 3px;
          font-style: normal;
          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 0.5em;
            width: 100%;
            background-color: $primary-color;
            opacity: 0.3;
            left: 0;
            top: 0.7em;
          }
        }
      }
    }
  }
}
