.home-page {
  .home-container {
    .home-links {
      text-align: right;
      margin-top: 40px;
      margin-bottom: 80px;
      font-size: 1.1em;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      .home-link {
        padding-left: 30px;
        span {
          color: #4a4a4a;
        }
        .home-link-split {
          color: $blue;
          margin: 0 5px;
        }
      }
    }
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 720px) {
      margin: 30px auto;
    }
    .home-desc {
      h2 {
        font-size: 4em;
        font-weight: 300;
        img {
          height: 45px;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
        @media screen and (max-width: 720px) {
          margin-bottom: 10px;
        }
      }
      h3 {
        font-size: 3em;
        font-weight: 300;
      }
      p {
        font-size: 1.3em;
        margin-bottom: 1em;
        line-height: 1.8em;
        font-weight: 400;
        @media screen and (max-width: 720px) {
          font-size: 1.2em;
        }
      }

      h2,
      h3,
      p {
        a,
        em {
          color: #222;
          position: relative;
          margin: 0 3px;
          font-style: normal;
          &:after {
            content: '';
            display: block;
            position: absolute;
            height: 0.5em;
            width: 100%;
            background-color: $primary-color;
            opacity: 0.3;
            left: 0;
            top: 0.7em;
          }
        }
      }
    }
  }
}

.login-dialog {
  .do-dialog-content {
    width: 350px;
    .ze-input-container {
      width: 100%;
      margin: 10px 0;
    }
  }
}
