.home-page {
  height: 100vh;
  .home-container {
    max-width: 750px;
    padding: 100px 15px;
    margin: 0 auto;
    h2,
    h4,
    p {
      color: #4a4a4a;
    }

    @media screen and (max-width: 720px) {
      margin: 30px auto;
      padding-top: 20px;
    }

    .home-links {
      margin-top: 40px;
      margin-bottom: 80px;
      font-size: 1em;
      @media screen and (max-width: 720px) {
        margin: 15px auto;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
      .home-link {
        padding-right: 20px;
        span {
          color: #4a4a4a;
        }
        .home-link-split {
          color: $blue;
          margin: 0 5px;
        }
      }
    }

    .home-desc {
      height: 400px;
      @media screen and (max-width: 720px) {
        height: 480px;
      }

      h2 {
        font-size: 4em;
        font-weight: 300;
        margin-bottom: 15px;
        @media screen and (max-width: 720px) {
          margin-bottom: 10px;
          font-size: 3.2em;
        }
      }
      h4 {
        font-size: 2em;
        margin-bottom: 0.9em;
        @media screen and (max-width: 720px) {
          font-size: 1.7em;
        }
      }
      p {
        font-size: 1.2em;
        margin-bottom: 1em;
        line-height: 1.8em;
        font-weight: 400;
        @media screen and (max-width: 720px) {
          font-size: 1.1em;
        }
      }
    }
  }
}

.write-vertical-bar {
  width: 0.8em;
  height: 1.1em;
  display: inline-block;
  background-color: #4a4a4a;
  position: relative;
  top: 0.2em;
  margin-left: 5px;
  border-radius: 0.2em;
}
