.login-page{
  height: 100vh;
  .login-form {
    width: 300px;
    position: relative;
    top: 25%;
    text-align: center;
    margin: 0 auto;
    .login-input {
      width: calc(100% - 40px);
      box-sizing: content-box;
      text-align: center;
      &:focus {
        outline: none;
      }
    }
    .login-button {
      width: 100%;
      height: 36px;
      border-radius: 36px;
      font-size: 14px;
      background-color: $primary-color;
      color: #fff;
      border-color: $primary-color;
      &:focus {
        outline: none;
      }
    }
  }
  .form-group {
    margin-bottom: 25px;
  }

  .login-brand {
    margin-bottom: 50px;
    width: 240px;
  }
}
