.contact-project {
  width: 1290px;
  max-width: 100%;
  margin: 24px auto 0px;
  padding: 0 15px;

  &-item {
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    position: relative;
    top: 0;
    transition: all ease 0.2s;
    overflow: hidden;
    box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.05);
    width: 380px;
    margin: 20px;
   
    &-wrapper {
      display: inline-block;
    }

    &:hover {
      top: -5px;
      box-shadow: 0px 10px 15px -2px rgba(0, 0, 0, 0.05);
    }
  }

  &-cover {
    position: relative;
    background-color: #ccc;
    border-radius: 8px;
    overflow: hidden;

    &:hover {
      .contact-project-mask {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      min-height: 198px;
    }
  }

  &-mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: all ease 0.5s;

    .ze-btn {
      width: 120px;
      padding: 9px 0;
    }
    .ze-btn:not(.ze-btn-primary) {
      background-color: transparent;
      border: 1px solid $primary-color;
      color: $primary-color;
      margin-left: 10px;
    }
  }

  &-info {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  &-name {
    text-align: center;
    color: #666;
  }

  @media screen and (max-width: 1290px) {
    margin-top: 0;
    display: block;

    .contact-project-item {
      width: calc(50% - 40px);
      margin: 20px;
    }

    .contact-project-cover {
      img {
        min-height: 222px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
    display: block;

    .contact-project-item {
      width: 100%;
      margin: 20px 0;
    }

    .contact-project-cover {
      img {
        min-height: 192px;
      }
    }
  }
}
