// album
.music-search-page,
.music-leader-page,
.music-list-page {
  padding-bottom: 140px;
}

.music-main-tabs,
.music-tag-tabs {
  display: flex;
  justify-content: center;
  .ze-tabs-easy .ze-tab {
    margin: 0 18px;
    padding: 4px 0 6px 0;
  }
}

.music-list-filter {
  position: relative;
  z-index: 100;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin: 15px 0;
}

.music-list-filter-placeholder {
  height: 100px;
  display: none;
}

.music-list-tabs-wrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.music-album-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.music-album {
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 230px;

  &:nth-child(5n) {
    margin-right: 0;
  }

  &-cover {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 230px;
    border-radius: 6px;
    background-color: #ccc;
    .music-player-play-btn {
      opacity: 0;
    }
    img {
      width: 100%;
      display: block;
      transition: all ease 0.3s;
    }
  }

  &-info {
    border-top: none;
    height: 40px;
    line-height: 40px;
  }

  &-title {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #666;
  }

  &.active .music-album-cover,
  .music-album-cover:hover {
    img {
      transform: scale(1.3);
    }
    .music-player-play-btn {
      opacity: 1;
      transform: translateX(-50%) translateY(-50%) scale(1);
    }
  }

  @media screen and (max-width: 1210px) and (min-width: 720px) {
    width: calc(25% - 10px);
    height: auto;

    &-cover {
      height: auto;
    }
    &:nth-child(2n + 1) {
      margin: 5px;
    }
    &:nth-child(2n) {
      margin: 5px;
    }
  }
  @media screen and (max-width: 720px) {
    width: calc(50% - 5px);
    height: auto;
    &-cover {
      height: auto;
    }

    &:nth-child(2n + 1) {
      margin: 0;
      margin-right: 5px;
    }
    &:nth-child(2n) {
      margin: 0;
      margin-left: 5px;
    }
  }
}

.music-canvas-loading {
  width: 100%;
  height: 280px;
  line-height: 280px;
  text-align: center;
}

.music-player-bg {
  position: fixed;
  top: -100px;
  bottom: -100px;
  left: -120px;
  right: -120px;
  background-size: 100% auto;
  background-position: 50% 50%;
  filter: blur(50px);
  z-index: -1;
  background-color: #222;
  transition: all ease 3s;
}

.music-analyzer-toggle {
  @include inner-center;
  @include shadow;
  width: 50px;
  height: 50px;
  font-size: 12px;
  cursor: pointer;
  background-color: $primary-color;
  color: #fff;
  right: 50px;
  bottom: 50px;
  transition: all ease 0.3s;
  position: fixed;
  z-index: 200;
  .svg-icon {
    transform: scale(0.8);
    path {
      stroke: #fff;
    }
  }
  &.active {
    background-color: #fff;
    .svg-icon path {
      stroke: $primary-color;
    }
  }
  @media screen and (max-width: 720px) {
    bottom: 100px;
    right: 20px;
  }
}

.music-detail-page {
  .music-analyzer-canvas {
    width: 720px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 360px);
    color: #fff;
  }
}

.music-info-list {
  margin-top: 30px;
  @media screen and (max-width: 750px) {
    margin-top: 20px;
  }
}

.music-info-item.music-info-item-title {
  font-size: 14px;
  color: #999;
  .music-info-singer {
    color: #999;
  }
}

.music-info-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  &:nth-child(1) {
    .music-info-no {
      color: #f93;
    }
  }
  &:nth-child(2) {
    .music-info-no {
      color: #e94;
    }
  }
  &:nth-child(3) {
    .music-info-no {
      color: #c96;
    }
  }
  .music-info-no {
    width: 50px;
    font-size: 18px;
    color: #999;
    text-align: center;
    padding-right: 10px;
    font-family: Dosis;
  }
  .music-info-pic {
    margin-right: 20px;
    display: inline-block;
    height: 60px;
    width: 60px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }
  }
  .music-info-name {
    @include text-overflow-ellipsis;
    width: 200px;
    padding-left: 15px;
    margin-right: 15px;
    display: inline-block;
    @media screen and (max-width: 720px) {
      width: 300px;
    }
  }
  .music-info-singer {
    @include text-overflow-ellipsis;
    width: 140px;
    margin-right: 15px;
    display: inline-block;
    color: #4a4a4a;
  }
  &:hover {
    .music-info-toggle {
      opacity: 1;
    }
  }
  .music-info-toggle {
    display: flex;
    align-items: center;
    width: 80px;
    opacity: 0;
    transition: opacity ease 0.3s;
  }
  .music-info-time {
    width: 70px;
    color: #999;
    text-align: center;
  }
  @media screen and (max-width: 720px) {
    .music-info-toggle {
      opacity: 1;
    }
  }
  .music-info-btn {
    border: 1px solid #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
    &:hover,
    &.active {
      border-color: $primary-color;
      .svg-icon {
        path {
          stroke: $primary-color;
        }
      }
      .svg-icon-antd {
        path {
          fill: $primary-color;
        }
      }
    }
    .svg-icon {
      transform: scale(0.5);
      path {
        stroke: #666;
        stroke-width: 2px;
      }
    }
  }
}

.music-search {
  display: flex;
  background-color: transparent;
  width: 100%;

  input {
    width: 100%;
    border: none;
    border-right: none;
    padding: 15px;
    padding-left: 30px;
    font-size: 16px;
    background-color: transparent;
    border-right: none;
    border: 1px solid #999;
    border-right: none;
    border-radius: 40px 0 0 40px;
    &:focus {
      outline: none;
    }
  }
  &-wrapper {
    margin-top: 30px;
    position: relative;
    transition: all ease 0.6s;
  }

  @media screen and (max-width: 720px) {
    .music-search-btn.ze-btn {
      width: 60px;
      font-size: 14px;
    }
    input {
      width: calc(100% - 50px);
      padding: 10px;
      padding-left: 20px;
      font-size: 14px;
    }
  }
}

.music-search-list {
  .music-info-item {
    height: 45px;
  }
}

.music-search-btn.ze-btn {
  margin: 0px;
  width: 80px;
  border-radius: 0 40px 40px 0;
  padding: 0;
  background-color: $primary-color;
  padding-right: 4px;
  .svg-icon {
    transform: scale(0.7);
    path {
      fill: #fff;
    }
  }

  &:hover {
    background-color: $high-primary-color;
  }
}
