.login-page,
.sign-up-page {
  .input-form {
    width: 500px;
    background-color: #fff;
    margin: 80px auto;
    padding: 100px;

    .ze-input-container {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
