.login-page,
.sign-up-page {
  .input-form {
    max-width: 500px;
    background-color: #fff;
    margin: 80px auto;
    padding: 100px;
    @media screen and (max-width: 500px) {
      margin: 40px 20px;
      padding: 40px 20px;
    }
    .ze-input-container {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}
