.robot-info-area,
.robot-input-area {
  position: fixed;
  z-index: 100;
  width: calc(100% - 40px);
  background-color: #fff;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 9;
}

.robot-info-area {
  color: #666;
  cursor: not-allowed;
}