/**
text-overflow-ellipsis 文字省略
clearfix 清楚浮动
shadow 阴影
ball 球形
abs-center 绝对居中
flex-center 内部居中
full-screen 全屏
do-container 容器
**/

@mixin ball($r) {
  width: $r;
  height: $r;
  border-radius: $r;
}

@mixin clearfix {
  overflow: hidden;
  &:before {
    display: table;
  }
  &:after {
    display: table;
  }
}

@mixin abs-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@mixin inner-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow {
  box-shadow: 1px -4px 30px -12px rgba(0, 0, 0, 0.3);
}

@mixin text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

@mixin full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin do-container {
  padding: 0 15px;
  max-width: 100%;
}
