$primary-color: #368df3;
$light-primary-color: #377aef;
$high-primary-color: #38e;
$week-primary-color: rgb(232, 242, 251);
$danger-color: rgb(255, 51, 51);
$blue: $primary-color;
$green: rgb(54, 243, 70);
$red: $danger-color;
$orange: #fdc167;
$yellow: rgb(255, 252, 51);
$input-height: 34px;
$common-container-width: 1200px;
$small-container-width: 750px;
$main-header-height: 80px;
$main-footer-height: 150px;
$border-color: #ddd;
$main-bg-color: #f9f9f9;

// z-index
// drawer 10
// player 100
// totop 200
// mask 1000
