.robot-chat-head {
  background-color: #fff;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
