.robot-chat-head {
  background-color: #fff;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0.026667rem 0.16rem 0 rgba(166, 169, 200, 0.3);

  .navigator {
    .navigator-collapsed-menu {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      height: 20px;

      .svg-icon-wrapper {
        width: 20px;
        height: 20px;

        .svg-icon {
          transform: scale(0.7);
          transform-origin: 0 0;
        }
      }
    }
  }
}
