$comment-bg-color: #eee;
.comment-group {
  .comment-form-wrapper {
    .bf-content {
      min-height: 200px;
      height: auto;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }

  .comment-form-submit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    &-info {
      color: #999;
      line-height: 34px;
    }
    .ze-btn {
      width: 120px;
      margin: 0;
    }
  }
}

.w-comment-list {
  margin: 40px 0;
}

.w-comment-item {
  margin: 20px 0;
  position: relative;

  &.self-comment {
    text-align: right;
    .w-comment-item-info {
      flex-direction: row-reverse;
    }
    .w-comment-item-nickname {
      margin-right: 0;
      margin-left: 5px;
    }
    .w-comment-item-content {
      margin-right: 40px;
      margin-left: 0;
    }
    .w-comment-item-svg {
      left: calc(100% - 8px);
      transform: rotateY(180deg) scaleY(0.6) scaleX(1);
    }
  }

  &-nickname {
    font-size: 16px;
    margin-right: 5px;
    display: inline-block;
    @media screen and (max-width: 720px) {
      font-size: 20px;
      margin-right: 5px;
      max-width: 80px;
    }
  }
  &-info {
    display: flex;
    margin-bottom: 6px;
  }
  &-time {
    font-size: 12px;
    color: #999;
    position: relative;
    top: 5px;
  }
  &-content {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 40px;
    background-color: $comment-bg-color;
    padding: 15px;
    position: relative;
    min-width: 80px;
    display: inline-block;
    border-radius: 4px;
    color: #555;
  }
  &-svg {
    position: absolute;
    left: -12px;
    width: 20px;
    top: -24px;
    transform: scaleY(0.6) scaleX(1);
    path {
      fill: $comment-bg-color;
    }
  }
}

.w-comment-item-content-value {
  @include blog-reset;
  color: #4a4a4a;
  p {
    margin-top: 0;
    margin-bottom: 0;
    &+p {
      margin-top: 0.5em;
    }
  }
}