.w-comment-list {
  margin-top: 40px;
  margin-bottom: 80px;
}
.w-comment-item {
  margin: 20px 0;

  &-content {
    font-size: 14px;
    background-color: #f3f3f3;
    padding: 15px;
    position: relative;
    min-width: 100px;
    max-width: 480px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 10px;
    // &:before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   width: 1px;
    //   height: 1px;
    //   border: 10px solid transparent;
    //   border-bottom-color: #f3f3f3;
    //   border-bottom-width: 12px;
    //   left: 10px;
    //   top: -20px;
    // }

    @media screen and (max-width: 720px){
      padding: 10px 15px;
      max-width: calc(100% - 80px);

      &:before {
        border-width: 5px;
        left: -10px;
        top: 4px;
      }
    }
  }
  
  &-nickname {
    font-size: 24px;
    font-weight: 300;
    margin-right: 10px;

    @media screen and (max-width: 720px){
      font-size: 16px;
      margin-right: 5px;
      max-width: 80px;
    }
  }
}