.w-comment-list {
  margin-top: 80px;
  margin-bottom: 80px;
}
.w-comment-item {
  display: flex;
  margin: 20px 0;
  &-content {
    font-size: 14px;
    background-color: #f3f3f3;
    padding: 15px;
    position: relative;
    margin-left: 10px;
    min-width: 200px;
    max-width: 480px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 1px;
      border: 10px solid transparent;
      border-right-color: #f3f3f3;
      left: -20px;
      top: 7px;
    }
  }
  
  &-nickname {
    font-size: 24px;
    font-weight: 300;
    margin-right: 10px;
    display: inline-block;
  }
}