$comment-bg-color: #eee;
.comment-group {
  .comment-form-wrapper {
    .bf-content {
      min-height: 150px;
      height: auto;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }

  .comment-form-submit {
    text-align: right;
    margin-top: 10px;
    .ze-btn {
      width: 120px;
      margin-right: 0;
    }
  }
}

.w-comment-list {
  margin-top: 20px 0;
}

.w-comment-item {
  margin: 20px 0;
  position: relative;
  &-nickname {
    font-size: 16px;
    margin-right: 5px;
    display: inline-block;
    @media screen and (max-width: 720px) {
      font-size: 20px;
      margin-right: 5px;
      max-width: 80px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 80px);
    position: relative;
  }
  &-time {
    font-size: 12px;
    margin-bottom: 5px;
  }
  &-content {
    display: inline-block;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 40px;
    background-color: $comment-bg-color;
    padding: 15px;
    position: relative;
    min-width: 80px;
    display: inline-block;
    border-radius: 4px;
    color: #555;
  }
  &-svg {
    position: absolute;
    left: -12px;
    width: 20px;
    top: -24px;
    transform: scaleY(0.6) scaleX(1);
    path {
      fill: $comment-bg-color;
    }
  }
}

.w-comment-item-content-value {
  @include blog-reset;
  color: #4a4a4a;
  p {
    margin-top: 0;
    margin-bottom: 0;
    &+p {
      margin-top: 0.5em;
    }
  }
}