$lyric-height: 35px;
.music-lyric {
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 180px);

  &-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    transition: all ease 0.3s;
  }
  &-item {
    height: $lyric-height;
    line-height: $lyric-height;
    font-size: 14px;
    color: #cde;
    transition: all ease 0.3s;
    &.active {
      height: $lyric-height * 1.3;
      line-height: $lyric-height * 1.3;
      font-size: 20px;
      color: #ddefff;
    }
  }
}