.w-tag {
  padding: 5px 18px 6px;
  border: 1px solid #ddd;
  transition: all ease 0.2s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.w-tag.ze-btn-default {
  background-color: transparent;
  &:hover {
    background-color: #ddd;
  }
}

.w-tag.ze-btn-primary {
  border-color: $primary-color;
}
