.w-tag {
  padding: 0 18px;
  height: 30px;
  border: 1px solid #ccc;
  transition: all ease 0.2s;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.w-tag.ze-btn-default {
  background-color: transparent;
  &:hover {
    background-color: #ddd;
  }
}

.w-tag.ze-btn-primary {
  border-color: $primary-color;
}
