@keyframes expand {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.chat-panel {
  background-color: #e0f1fc;
  width: 100%;
  height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  .chat-list {
    padding: 20px;

    .chat-item {
      margin-bottom: 30px;

      .chat-content-wrapper {
        background-color: #fff;
        max-width: 66.6%;
        line-height: 1.6em;
        padding: 10px 15px;
        display: inline-block;
      }

      &.user {
        text-align: right;

        .chat-content-wrapper {
          border-radius: 15px 0px 15px 15px;
          display: inline-block;
          background-color: #39f;
          color: #fff;
        }
      }

      &.robot {
        text-align: left;

        .chat-content-wrapper {
          border-radius: 0 15px 15px 15px;
        }
      }

      &.expand {
        .chat-content-wrapper {
          transform-origin: 0% 0%;
          animation: expand 0.2s cubic-bezier(0, 0.9, 1, 1.3) forwards;
        }
      }
    }
  }
}