@import '../../styles/mixin.scss';

.main-footer {
  height: 150px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  @include clearfix;
  color: #999;

  &-links {
    margin-bottom: 10px;
  }
}
