@import './blog-reset.scss';

$primary-color: #39f;

.blog-detail-page {
  .page-common-blog-title {
    margin-bottom: 0.4em;
  }

  .blog-created {
    font-size: 14px;
    color: #666;
    margin-bottom: 3em;

    @media screen and (max-width: 750px) {
      margin-bottom: 2em;
    }
  }

  .blog-comment-form {
    width: 100%;
    overflow: hidden;

    input,
    textarea {
      margin-bottom: 15px;
    }

    button {
      float: right;
    }
  }

  .blog-nickname-input {
    flex-shrink: 0;
    margin-right: 10px;
    transition: all ease 0.3s;
    opacity: 1;

    &.hidden {
      width: 0;
      opacity: 0;
      margin-right: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 750px) {
    .blog-comment-form {
      display: block;

      input,
      button {
        margin-bottom: 15px;
        width: 100%;
      }

      .blog-nickname-input {
        &.hidden {
          display: none;
        }
      }
    }
  }

  .blog-comment-input {
    margin-right: 10px;
  }

  .blog-content {
    @include blog-reset;

    pre {
      @media screen and (max-width: 750px) {
        left: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
