.blogs-list {
  width: @small-container-width;
  margin: 0 auto;
}

.blogs-group {
  padding: 25px 0px;
  .blogs-group-date {
    margin-bottom: 15px;
  }
  @media screen and (max-width:768px) {
    padding: 12px 0;
    p {
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
  a {
    &:acitve {
      text-decoration: none
    }
    &:focus {
      text-decoration: none
    }
  }
}

.blog-title {
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.2em;
  color: @primary-color;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 300;
  }
}

.blog-create-date {
  color: #666;
  display: inline-block;
}

.blog-detail {
  max-width: @small-container-width;
  margin: 0px auto;
  .blog-title {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .blog-author {
    color: #666;
  }
  .blog-meta {
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .blog-date {
    margin-right: 10px;
  }
  .blog-tags {
    display: flex;
    align-items: center;
  }
  .blog-content {
    .blog-view-content,
    .DraftEditor-editorContainer {
      font-size: 14px;
      color: #444;
      p {
        margin: 0;
        line-height: normal;
        min-height: 20px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: normal;
        margin-bottom: 0.5em;
        margin-top: 0;
      }
      h1 {
        font-size: 2.2em;
      }
      h2 {
        font-size: 1.8em;
      }
      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.2em;
      }
      pre {
        max-width: 100%;
        max-height: 100%;
        margin: 10px 0;
        padding: 15px;
        overflow: auto;
        background-color: #f1f2f3;
        border-radius: 3px;
        color: #666;
        font-family: monospace;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        word-wrap: break-word;
        white-space: pre-wrap
      }
    }
  }
  .blog-comment-input {
    margin-top: 100px;
    margin-bottom: 40px;
    h2 {
      font-weight: 100;
      margin-bottom: 30px;
      font-size: 34px;
    }
    button {
      margin-top: 15px;
    }
  }
}