.contact-welcome {
  font-weight: 100;
  color: @primary-color;
  font-size: 34px;
  margin: 0;
  margin-bottom: 40px;
}

.contact-message-list {
  margin-top: 40px;
  color: #666;
  columns: 3;
}

.contact-message-item {
  display: inline-block;
  width: 185px;
  background-color: @week-primary-color;
  min-height: 100px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  .contact-message-head {
    margin-bottom: 5px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  .contact-message-nickname {
    font-size: 20px;
    margin-right: 10px;
    color: #666;
  }
  .contact-message-create-time {
    color: #666;
  }
  .contact-message-content {
    padding: 10px 20px 20px;
    font-weight: 300;
  }
}