.picture-list{
    position: relative;
    @media screen and (min-width: 768px) {
        margin-right: -20px;
    }
    .picture-item{
        width: 310px;
        margin-right: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            width: 48%;
            margin: 0;
            margin-right: 2%;
            margin-bottom: 2%;
        }
    }
}

.ant-modal-wrap {
    text-align: center;
}
.picture-view-modal{
    .ant-modal-body{
        padding: 5px;
    }
    .ant-modal-header{
        text-align: left;
        padding: 8px 10px;
    }
    .ant-modal-close-x{
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .ant-modal-content{
        border-radius: 0;
    }
}
.do-picture-wrap{
    font-size: 0;
    text-align: center;
    img{
        width: auto;
    }
}