.index-page{
    height: 100vh;
    background: $primary-color;
    .index-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-align: center;
        a{
            color: #ddd;
            letter-spacing: 30px;
            padding: 10px 0 10px 24px;
            line-height: 42px;
            position: relative;
            &:before{
                content: '[';
                color: #fff;
                position: absolute;
                opacity: 0;
                transition: all ease 0.3s;
                left: 0px;
            }
            &:after{
                content: ']';
                color: #fff;
                position: absolute;
                opacity: 0;
                transition: all ease 0.3s;
                right: -24px;
            }
            &:hover{
                color: #fff;
                
            }
        }
        img{
            position: relative;
            top: -50px;
            width: 160px;
        }
    }
}

.main-header{
    height: $main-header-height;
    line-height: $main-header-height;
    @include clearfix;
    .logo-brand{
        display: inline-block;
        img{
            height: 25px;
        }
    }

    .main-tabs{
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        a{
            float: left;
            margin: 0 15px;
            position: relative;
            color: #666;
            top: -4px;
            &:active{
                text-decoration: none;    
            }
            &:focus{
                text-decoration: none;    
            }
            &:visited{
                text-decoration: none;    
            }
            &.active{
                color: $primary-color;
            }
            &:hover{
                color: $light-primary-color;
            }
            &.active:after{
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                width: 100%;
                height: 2px;
                background: $primary-color;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .header-search{
        width: 200px;
        float: left;
        margin-right: 20px;
        top: -2px;
        input{
            position: relative;
            top: -1px;
            line-height: 32px;
        }
        @media screen and(max-width: 768px) {
            display: none;
        }
    }
}
.main-content{
    min-height: calc(100vh - #{$main-header-height} - #{$main-footer-height});
    @include clearfix;
}
.main-footer{
    height: $main-footer-height;
    box-sizing: border-box;
    text-align: center;
    @include clearfix;
    p{
        margin-bottom: 5px;
    }
}