.index-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .index-container{
        display: flex;
        position: relative;
        top: -30px;
        .index-logo {
            width: 150px;
        }
        
        .index-links {
            a {
                width: 50px;
            }
            position: relative;
            top: 3px;
            display: flex;
            justify-content: space-around;
            padding: 0 20px;
            align-items: center;
        }
    }
}

.main-header{
    height: @main-header-height;
    line-height: @main-header-height;
    .clearfix;
    .logo-brand{
        display: inline-block;
        img{
            height: 25px;
            vertical-align: middle;
        }
    }

    .do-pull-right {
        a {
            margin-left: 20px;
        }
    }
}
.main-content{
    min-height: calc(100vh - @main-header-height - @main-footer-height);
    .clearfix;
}
.main-footer{
    height: @main-footer-height;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    .clearfix;
    p{
        margin-bottom: 5px;
    }
}

.not-found-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -60px;
}