@primary-color: #39f;
@light-primary-color: #25f;
@input-height: 34px;
@input-radius: @input-height / 2;

@common-container-width: 1000px;
@content-container-width: 800px;

@main-header-height: 80px;
@main-footer-height: 100px;

.clearfix{
    &:before{
        display: table;
        content: ''
    }
    &:after{
        display: table;
        content: ''
    }
}