@primary-color: #39f;
@light-primary-color: #25f;
@high-primary-color: #38e;
@input-height: 34px;
@input-radius: 6px;

@common-container-width: 700px;
@content-container-width: 700px;

@main-header-height: 80px;
@main-footer-height: 100px;

.clearfix{
    &:before{
        display: table;
        content: ''
    }
    &:after{
        display: table;
        content: ''
    }
}